{% load static %}
<!doctype html>
<html lang="ko-kr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>허니컴즈몰</title>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static '/js/bootstrap.min.js' %}"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file: // -->
        <!-- [if lt IE9 ]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Bootstrap -->
        <!-- [if IE]>
            <link href="{% static 'css/honeycomms_ie9.css' %}" rel="stylesheet" />
        <![endif]-->
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/honeycomms.css' %}" rel="stylesheet" />


    </head>

    <body>

        <div class="container-fluid">
            <!-- nav bar 부분 -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-scroll">
                <div class="container">
                    <img id="header_logo" src="{% static 'imgs/logo.gif' %}" alt="KT Direct">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">메뉴#1</a></li>
                            <li><a href="#">메뉴#2</a></li>
                            <li><a href="#">메뉴#3</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
            <!-- // nav bar 부분 끝 -->

            <!-- 메인영역 시작  -->
            <div class="container">
                <!-- 배너리스트 시작  -->
                <div class="banner-block hidden-xs">
                    <div id="main-banner-carousel" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#main-banner-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#main-banner-carousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                               <img src="{% static 'imgs/banner1_980x360.jpg' %}" alt="First slide">
                            </div>
                            <div class="item">
                               <img src="{% static 'imgs/banner2_980x360.jpg' %}" alt="Second slide">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#main-banner-carousel" role="button" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#main-banner-carousel" role="button" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
                <!--// 배너리스트 끝  -->

                <!--// 상품리스트 시작  -->
                <div class="product-block">
                    <div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <!-- 상품리스트 끝  -->
            </div>
            <!-- 메인영역 끝  -->

            <footer>
                <div class="container">
                    <div class="footer-menu">
                        <a href="/customer/terms_of_use/">이용약관</a>&nbsp;&nbsp;&nbsp;
                        <a href="/customer/privacy_policy/">개인정보처리방침</a>&nbsp;&nbsp;&nbsp;
                        <a id="email_refuse" style="cursor:pointer">이메일무단수집 거부</a>&nbsp;&nbsp;&nbsp;
                        <a href="https://msafer.or.kr/index.do" target="_blank">명의도용 방지 서비스</a>&nbsp;&nbsp;&nbsp;
                        <a href="http://www.smartchoice.or.kr/smc/smartlife/dantongList.do" target="_blank">공시지원금</a>&nbsp;&nbsp;&nbsp;
                    </div>
                    <img src="{% static '/imgs/footer_ci.png' %}" id="footer_logo"><br>
                    <div class="footer-text">
                        copyright©2018 honeycomms<br>
                        (주)허니컴즈 / 대표이사 : 이병선<br>
                        사업자등록번호 : 212-81-86949 / 통신판매업신고 : <br>
                        주소 : 서울특별시 성동구 성수이로22길 37 아크밸리 602호<br>
                        고객센터 : 070-8856-0140 / 평일 10시~18시<br><br>
                    </div>
                    <img src="{% static '/imgs/footer_security(lets_encrypt).png' %}" id="footer_security_img">
                    <img src="{% static '/imgs/kt_cert.png' %}" id="kt_cert_img" onclick="window.open('http://www.ictmarket.or.kr/agent/pop_AgentCertIcon.do?AGENT_REQ_ID=AGT0000196998&AGENT_CD=AA18670','_blank','width=600, height=400, toolbar=no, menubar=no, scrollbars=no, resizable=no' )"/>
                </div>
            </footer>

        </div>
        <!--// container-fluid 끝  -->

        <script>
            $('.carousel').carousel({
                interval: 3000;
                pause: hover;
                wrap: true;
                keyboard: true;
            })
        </script>

    </body>


</html>