{% extends 'mall/base.html' %}

{% block content %}
    {% for product in products %}
    <div class="thumbnails col-xs-11 col-sm-6 col-md-4">
        <div class="prodCell">
            <ul class="optColor">
                {% for color in product_colors %}
                {% if product.device_name == color.device_name %}
                    {% if color.color_modified_name %}
                    <li tooltip-text="{{ color.color_modified_name }}">
                        <span style="background-color:{{ color.color_modified_code }}"></span>
                    </li>
                    {% else %}
                    <li tooltip-text="{{ color.color_name }}">
                        <span style="background-color:{{ color.color_code }}"></span>
                    </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            <!-- 단말 이미지 클릭하면 주문정보 입력을 위한 모달 표시 -->
            <a href="{% url 'order' %}" class="showOrderModal" data-toggle="modal" data-name="{{ product.device_name }}" data-url="{{ product.ktshop_link }}">
                <img src="{{ product.device_image_file.url }}" alt="{{ product.device_name }}" class="prodImg mx-auto d-block"/>
                <div class="prodInfo center-block">
                    <div class="prodName">{{ product.device_name }}</div>
                    <div class="prodPrice">월<span>{{ product.device_price }}</span>원~</div>
                </div>
            </a>            
            
            <!--
            <a href="{{ product.ktshop_link }}" target="_blank">
                <img src="{{ product.device_image_file.url }}" alt="{{ product.device_name }}" style="height:300px;" class="center-block"/>
                <div class="prodInfo center-block">
                    <div class="prodName">{{ product.device_name }}</div>
                    <div class="prodPrice">월 <span>{{ product.device_price }}</span>원~</div>
                </div>
            </a>
            -->
        </div>
    </div>
    {% endfor %}
{% endblock %}