{% extends 'mall/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="sy-order-block">
    <div class="sy-section-header">
        <h4 class="sy-section-label">주문정보 입력 및 이동</h4>
    </div>
    <div class="sy-section-body">
        <form role="form" method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <!--
            <p><strong>주문하신 분 (필수)</strong></p>
            <div class="form-group">
                <label for="customer_name" class="sr-only">이름</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="이름">
                </div>
            </div>
            <div class="form-group">
                <label for="ktshop_id" class="sr-only">KT샵ID</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="KT샵ID">
                </div>
            </div>
            <div class="form-group">
                <label for="customer_telnum" class="sr-only">전화번호</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="전화번호">
                </div>
            </div>

            <p><strong>구매후기 사은품 (필수)</strong></p>
            <div class="form-group">
                <label for="gift_name" class="sr-only">사은품</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="사은품">
                </div>
            </div>
            <p style="text-align:right;">구매후기 이벤트 자세히 보기</p>

            <p><strong>추천하신 분 (선택)</strong></p>
            <div class="form-group">
                <label for="recommender_name" class="sr-only">추천인 이름</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="추천인 이름">
                </div>
            </div>
            <div class="form-group">
                <label for="recommender_telnum" class="sr-only">추천인 전화번호</label>
                <div class="">
                    <input type="text" class="form-control" placeholder="추천인 전화번호">
                </div>
            </div>
            -->
        </form>
    </div>
    <div class="bs_section_buttons">
        <a href="" class="btn btn-primary ktshop_url" target="_blank">KTshop으로 이동</a>
    </div>
</div>

{% endblock %}